{% extends "base.html" %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Live Video Feed</h3>
          </div>
          <div class="card-body">
            <img id="video-feed" src="/video_feed?source={{ video_path }}&filename={{ video_filename }}" alt="Live Feed" class="img-fluid">
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Performance Report</h3>
          </div>
          <div class="card-body">
            <pre id="performance-report">Loading report...</pre>
          </div>
          <div class="card-footer">
            <a href="/api/get_performance_report" class="btn btn-info btn-block">View Full Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  
  function fetchReport() {
    fetch("/api/get_performance_report")
      .then(response => response.text())
      .then(data => {
        document.getElementById("performance-report").innerText = data;
      })
      .catch(err => console.error(err));
  }
  
  setInterval(fetchReport, 30000);
  fetchReport();
</script>
{% endblock %}
