{% extends "base.html" %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Upload Video</h3>
          </div>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="card-body">
              <div class="form-group">
                <label for="video">Select Video File</label>
                <input type="file" name="video" id="video" class="form-control" required>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
